#landing-section {
  position: relative;
  background-color: #000;
  background-attachment: fixed;
  background-image: url('static/images/mobile/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-image: url('static/images/desktop/landing_bg.jpg');
  }

  .white {
    color: $white;
  }
}
