#landing {
  position: relative;
  background-color: #000;
  background-image: url('../../static/images/mobile/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-attachment: fixed;
    background-image: url('../../static/images/desktop/landing_bg.jpg');
  }

  @include media-breakpoint-up(sm) {
    iframe {
      width: 560px;
    }
  }
  @include media-breakpoint-down(sm) {
    iframe {
      width: 100%;
    }
  }

  .white {
    color: $white;
  }
}
