@font-face {
  font-family: latoBlack;
  src: url('../../static/fonts/Lato/Lato-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: latoBold;
  src: url('../../static/fonts/Lato/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: latoHeavy;
  src: url('../../static/fonts/Lato/Lato-Heavy.ttf')  format('truetype'); /* Safari; Android, iOS */
}

@font-face {
  font-family: latoBoldItalic;
  src: url('../../static/fonts/Lato/Lato-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: latoRegular;
  src: url('../../static/fonts/Lato/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: promptSemiBold;
  src: url('../../static/fonts/Prompt/Prompt-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: promptMedium;
  src: url('../../static/fonts/Prompt/Prompt-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: promptRegular;
  src: url('../../static/fonts/Prompt/Prompt-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}