// link
$link-color:            #fff;
$link-hover-color:      #fc2e1f !default;
$link-hover-decoration: none !default;

$link-font-family: 'latoBold';
$link-font-size: 1rem;

$desc_content_color: #363636;